<div class="container-card">
    <div class="row">
        <div class="col-4" *ngFor="let property of dataSource">
            <mat-card class="example-card">
                <img mat-card-image [src]="property.image[0]" onError="this.src='../../../../assets/images/avatars/propertyImage.jpg';">

                <mat-card-title>{{property.name}}</mat-card-title>

                <mat-card-content>
                    <p class="reduce-lenght m-b-1">Property Id: {{property.propertyId}}</p>
                    <p class="m-b-1">Area: {{property.area}} (sqft)</p>
                    <p class="m-b-1">Value: {{property.value | currency : 'INR': true}}</p>
                    <div class="adderess m-b-1" *ngIf="property.address">
                        <mat-icon>location_on</mat-icon>{{property.address.city}},{{property.address.state}},{{property.address.country}}
                    </div>
                    <!-- <p>Address: {{property.address.city}}, {{property.address.state}}</p> -->
                    <p class="m-b-1"> Status : {{property.status}}</p>
                </mat-card-content>
                <mat-card-actions>

                    <button mat-button [routerLink]="['./view/',property.propertyId]">PROPERTY VIEW</button>
                    <!-- <tr mat-row [routerLink]="['/admin/marketplace/view',row.propertyId]" *matRowDef="let row; columns: displayedColumns;"></tr> -->
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
    <mat-paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
    </mat-paginator>
</div>
<!-- <app-viewuserbyproperty ></app-viewuserbyproperty> -->