@import '../../../../scss/table.scss';
.mat-expansion-panel {
    margin: 1rem 0;
}

.material-icons.edit_plus {
    font-size: 26px;
    padding: 0 0.5rem;
}

.mat-expansion-panel-body {
    padding: 24px 24px;
}